
<footer class="fixed bottom-0 w-full bg-gray-800 text-white text-center p-4">


  &copy; 2025 Dewan Evaluasi. Please read About Page for Copyright issues. <a class="bold underline text-blue-400" href="/logout">Logout?</a>
</footer>

<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/alerts.js"></script>

</body>
</html>