
<!-- <footer
class="sticky bg-gray-800 pb-10 bottom-0  w-full h-36"
> -->
<footer class="sticky bottom-0 md:bottom-0 w-full bg-gray-800 text-white text-center p-4">

  &copy; 2025 kkyrajagula. Please read About Page for Copyright issues.
</footer>

<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/alerts.js"></script>
</body>
</html>