@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gaya scrollbar untuk browser berbasis WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    height: 6px; /* Lebar scrollbar */
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Warna background track scrollbar */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #4A90E2, #D1F8EF); /* Warna gradient */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #3a78c2, #D1F8EF); /* Warna hover */
  }
  
  .highlight {
    background-color: #bfdbfe; /* Warna biru muda */
    transition: background-color 1s ease-in-out; /* Animasi perubahan warna */
  }
  