<body class=" bg-gradient-to-br from-blue-400 via-teal-300 to-blue-500  p-0 m-0 md:h-full md:w-full">
    
    <div class="absolute inset-0 bg-white/20 backdrop-blur-xl -z-10"></div>
    <div class="absolute w-96 h-96 bg-teal-50/30 rounded-full blur-3xl top-10 left-10 animate-pulse"></div>
    <div class="absolute w-72 h-72 bg-blue-500/30 rounded-full blur-3xl bottom-10 right-10 animate-pulse"></div>